.contact {
    padding: 0 3rem;
    display: flex;
    margin-top: 4rem;
    height: 80vh;
}

.contact__form {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    position: relative;
    margin-right: 8rem;
}

.contact__title {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact__title span:nth-of-type(1) {
    /* color: var(--black); */
    font-size: 2.5rem;
    font-weight: bold;
}

.contact__title span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.contact__form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contact__form .contact__user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 1rem;
}

textarea {
    height: 4rem !important;
    resize: none;
}

.contact__blur-1 {
    background: rgb(169, 217, 236);
    width: 22rem;
    height: 14rem;
    left: -10rem;
    top: 15rem;
}

.contact__blur-2 {
    background: var(--purple);
    width: 22rem;
    height: 14rem;
    right: 10rem;
}