.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.navbar__toggle {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.navbar__name {
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.navbar__list {
    flex: 10;
}

.navbar__list > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
}

.navbar__list > ul > *:hover { 
    color: var(--orange);
}



